{% extends 'homepage.html' %}
{% block main %}
<h1>TODO LIST APP</h1>
<form action="/" method="POST">
<div class="form-group">
    <label for="exampleInputEmail1">TO DO</label>
    <input type="text" name="todo" id="todo" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">START TIME</label>
    <input type="datetime-local" name="start" id="start" class="form-control">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">END TIME</label>
    <input type="datetime-local" name="end" id="end" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<br><br>
<hr><hr>
{% for i in Todo %}
<h4>TO-DO: {{i.todo}}</h4>
<h4>START: {{i.start}}</h4>
<h4>END: {{i.end}}</h4>
<a href="/delete/{{i.num}}">DELETE</a>
<hr>
{% endfor %}
{% endblock main %}